
global

    #---- Identity
    node 'haproxy-sandbox-1.servers.example.com'
    description '[]'

    #---- Daemon
    nbthread 1
    ulimit-n 65536
    user 'haproxy'
    group 'haproxy'
    pidfile '/run/haproxy.pid'

    #---- State
    server-state-base '/run/haproxy-states'
    server-state-file '/run/haproxy.state'

    #---- Connections
    maxconn 8192
    maxconnrate 512
    maxsessrate 2048
    maxsslconn 4096
    maxsslrate 256
    maxpipes 4096

    #---- Checks
    max-spread-checks 6
    spread-checks 25

    #---- HTTP
    tune.http.logurilen 4096
    tune.http.maxhdr 64

    #---- HTTP/2
    tune.h2.header-table-size 16384
    tune.h2.initial-window-size 131072
    tune.h2.max-concurrent-streams 128

    #---- Compression
    maxcomprate 0
    maxcompcpuusage 25
    maxzlibmem 128
    tune.comp.maxlevel 9

    #---- Buffers
    tune.bufsize 131072
    tune.buffers.limit 4096
    tune.buffers.reserve 16
    tune.maxrewrite 16384

    #---- TLS default configuration
    ssl-default-bind-ciphers 'ECDHE-RSA-CHACHA20-POLY1305:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES256-SHA256:AES128-GCM-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA'
    ssl-default-bind-ciphersuites 'TLS_CHACHA20_POLY1305_SHA256:TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256'
    ssl-default-bind-curves 'X25519:P-256'
    ssl-default-bind-options no-tlsv11 no-tlsv10 no-sslv3 no-tls-tickets
    ssl-default-server-ciphers 'ECDHE-RSA-CHACHA20-POLY1305:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES256-SHA256:AES128-GCM-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA'
    ssl-default-server-ciphersuites 'TLS_CHACHA20_POLY1305_SHA256:TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256'
    ssl-default-server-options no-tlsv11 no-tlsv10 no-sslv3 no-tls-tickets
    ssl-server-verify required
    ssl-skip-self-issued-ca
    ssl-dh-param-file '/etc/haproxy/tls/dh-params.pem'

    #---- TLS advanced configuration
    tune.ssl.default-dh-param 2048
    tune.ssl.maxrecord 16384
    tune.ssl.cachesize 131072
    tune.ssl.lifetime 3600s

    #---- Logging
    log '/dev/log' len 65535 format 'rfc5424' daemon 'info' 'err'
    log-send-hostname 'haproxy-sandbox-1.servers.example.com'
    log-tag 'haproxy'
    quiet

    #---- Statistics
    stats socket 'unix@/run/haproxy.sock' user 'haproxy' group 'haproxy' mode 0600 level admin
    stats maxconn 4
    stats timeout 60s








defaults

    #---- Protocol
    mode tcp
    disabled

    #---- Connections
    maxconn 4096
    backlog 1024
    rate-limit sessions 16384
    balance roundrobin
    retries 4

    #---- Connections TCP-Keep-Alive
    option clitcpka
    option srvtcpka

    #---- Connections splicing
    option splice-request
    option splice-response
    no option splice-auto

    #---- Timeouts
    timeout server 60s
    timeout server-fin 60s
    timeout client 12s
    timeout client-fin 12s
    timeout tunnel 120s
    timeout connect 6s
    timeout queue 30s
    timeout check 6s
    timeout tarpit 60s

    #---- Servers
    fullconn 32
    default-server minconn 8
    default-server maxconn 32
    default-server maxqueue 128
    default-server inter 60s
    default-server fastinter 2s
    default-server downinter 20s
    default-server rise 8
    default-server fall 4
    default-server on-error fastinter
    default-server error-limit 4

    #---- HTTP
    http-reuse safe
    http-check disable-on-404
    http-check send-state
    option http-keep-alive
    timeout http-request 24s
    timeout http-keep-alive 60s
    unique-id-format "%[req.hdr(X-HA-Request-Id)]"

    #---- HTTP compression
    compression algo gzip
    compression type 'text/html' 'text/css' 'application/javascript' 'text/javascript' 'application/xml' 'text/xml' 'application/xhtml+xml' 'application/rss+xml' 'application/atom+xml' 'application/json' 'text/json' 'text/plain' 'text/csv' 'text/tab-separated-values' 'image/svg+xml' 'image/vnd.microsoft.icon' 'image/x-icon' 'font/collection' 'font/otf' 'application/font-otf' 'application/x-font-otf' 'application/x-font-opentype' 'font/ttf' 'application/font-ttf' 'application/x-font-ttf' 'application/x-font-truetype' 'font/sfnt' 'application/font-sfnt' 'application/x-font-sfnt' 'font/woff' 'application/font-woff' 'application/x-font-woff' 'font/woff2' 'application/font-woff2' 'application/x-font-woff2' 'font/eot' 'application/font-eot' 'application/x-font-eot' 'application/vnd.ms-fontobject'

    #---- Logging
    log global
    option log-separate-errors
    option log-health-checks
    no option checkcache
    no option dontlognull

    #---- Stats
    option contstats
    option socket-stats

    #---- Error pages
    errorfile 200 '/etc/haproxy/errors/http/monitor.http'
    errorfile 400 '/etc/haproxy/errors/http/400.http'
    errorfile 401 '/etc/haproxy/errors/http/401.http'
    errorfile 403 '/etc/haproxy/errors/http/403.http'
    errorfile 404 '/etc/haproxy/errors/http/404.http'
    errorfile 405 '/etc/haproxy/errors/http/405.http'
    errorfile 408 '/etc/haproxy/errors/http/408.http'
    errorfile 410 '/etc/haproxy/errors/http/410.http'
    errorfile 429 '/etc/haproxy/errors/http/429.http'
    errorfile 500 '/etc/haproxy/errors/http/500.http'
    errorfile 501 '/etc/haproxy/errors/http/501.http'
    errorfile 502 '/etc/haproxy/errors/http/502.http'
    errorfile 503 '/etc/haproxy/errors/http/503.http'
    errorfile 504 '/etc/haproxy/errors/http/504.http'

    #---- State
    load-server-state-from-file global








frontend 'http'

    #---- Protocol
    mode http
    enabled

    #---- Connections
    maxconn 4096
    backlog 1024
    option http-keep-alive

    #---- Compression
    compression algo gzip
    compression type 'text/html' 'text/css' 'application/javascript' 'text/javascript' 'application/xml' 'text/xml' 'application/xhtml+xml' 'application/rss+xml' 'application/atom+xml' 'application/json' 'text/json' 'text/plain' 'text/csv' 'text/tab-separated-values' 'image/svg+xml' 'image/vnd.microsoft.icon' 'image/x-icon' 'font/collection' 'font/otf' 'application/font-otf' 'application/x-font-otf' 'application/x-font-opentype' 'font/ttf' 'application/font-ttf' 'application/x-font-ttf' 'application/x-font-truetype' 'font/sfnt' 'application/font-sfnt' 'application/x-font-sfnt' 'font/woff' 'application/font-woff' 'application/x-font-woff' 'font/woff2' 'application/font-woff2' 'application/x-font-woff2' 'font/eot' 'application/font-eot' 'application/x-font-eot' 'application/vnd.ms-fontobject'
    compression offload

    #---- Bind
    bind 'ipv4@0.0.0.0:80' defer-accept mss 1400 maxconn 4096 backlog 1024

    #---- ACL
    acl acl-660a5efcd163a9d4ba7e48db099f3a20 path -m str eq -- '/__/heartbeat-haproxy'

    #---- Stick tables
    stick-table type ipv6 size 1048576 expire 3600s store conn_cur,conn_cnt,conn_rate(60s),sess_cnt,sess_rate(60s),http_req_cnt,http_req_rate(60s),http_err_cnt,http_err_rate(60s),bytes_in_cnt,bytes_in_rate(60s),bytes_out_cnt,bytes_out_rate(60s)
    http-request track-sc0 src

    #---- HTTP Request Rules
    http-request deny deny_status 200 if acl-660a5efcd163a9d4ba7e48db099f3a20

    #---- Routes
    use_backend http-backend

    #---- Monitoring
    monitor-uri '/__/heartbeat-proxy'
    monitor fail if FALSE

    #---- Stats
    stats enable
    stats uri '/__/haproxy/beb36ad8a85568b7e89e314b2e03244f'
    stats realm 'haproxy@haproxy-sandbox-1.servers.example.com'
    stats show-node 'haproxy-sandbox-1.servers.example.com'
    stats show-desc '[]'
    stats show-legends
    stats refresh 6s

    #---- Logging
    option httplog
    log-format "{  \"s\":\"20230324:01\",  \"ss\":\"default\",  \"t\":%Ts.%ms,  \"f_id\":\"%{Q}f\",  \"b_id\":\"%{Q}b\",  \"s_id\":\"%{Q}s\",  \"h_v\":\"%{Q}HV\",  \"h_vm\":%[fc_http_major],  \"h_s\":%ST,  \"h_m0\":\"%{Q}HM\",  \"h_u0\":\"%{Q}HU\",  \"h_p0\":\"%{Q}HPO\",  \"h_q0\":\"%{Q}HQ\",  \"h_i0\":\"%{Q}ID\",  \"h_t0\":\"%{Q}trg\",  \"h_h\":\"%[var(txn.logging_http_host),json()]\",  \"h_m\":\"%[var(txn.logging_http_method),json()]\",  \"h_p\":\"%[var(txn.logging_http_path),json()]\",  \"h_q\":\"%[var(txn.logging_http_query),json()]\",  \"h_r_i\":\"%[var(txn.logging_http_request),json()]\",  \"h_r_s\":\"%[var(txn.logging_http_session),json()]\",  \"h_f_h\":\"%[var(txn.logging_http_forwarded_host),json()]\",  \"h_f_f\":\"%[var(txn.logging_http_forwarded_for),json()]\",  \"h_f_p\":\"%[var(txn.logging_http_forwarded_proto),json()]\",  \"h_h_a\":\"%[var(txn.logging_http_agent),json()]\",  \"h_h_r\":\"%[var(txn.logging_http_referrer),json()]\",  \"h_h_l\":\"%[var(txn.logging_http_location),json()]\",  \"h_h_ct\":\"%[var(txn.logging_http_content_type),json()]\",  \"h_h_ce\":\"%[var(txn.logging_http_content_encoding),json()]\",  \"h_h_cl\":\"%[var(txn.logging_http_content_length),json()]\",  \"h_h_cc\":\"%[var(txn.logging_http_cache_control),json()]\",  \"h_h_cv\":\"%[var(txn.logging_http_cache_etag),json()]\",  \"h_i_hdr\":\"%{Q}hrl\",  \"h_o_hdr\":\"%{Q}hsl\",  \"h_i_ck\":\"%{Q}CC\",  \"h_o_ck\":\"%{Q}CS\",  \"h_o_comp\":[\"%[res.comp]\",\"%[res.comp_algo]\"],  \"c_sck\":[\"%{Q}ci\",\"%{Q}cp\"],  \"f_sck\":[\"%{Q}fi\",\"%{Q}fp\"],  \"b_sck\":[\"%{Q}bi\",\"%{Q}bp\"],  \"s_sck\":[\"%{Q}si\",\"%{Q}sp\"],  \"ts\":\"%{Q}tsc\",  \"f_err\":\"%[fc_err]\",  \"b_err\":\"%[bc_err]\",  \"i_sz\":%U,  \"o_sz\":%B,  \"w\":[%Tt,%Tq,%Ta],  \"w_x\":[%Th,%Ti,%TR,%Tw,%Tc,%Tr,%Td],  \"cnt\":[%ac,%fc,%bc,%bq,%sc,%sq,%rc,%rt,%lc],  \"ssl\":[\"%{Q}sslv\",\"%{Q}sslc\"],  \"ssl_f\":[\"%[ssl_fc,json()]\",\"%[ssl_fc_err,json()]\",\"%[ssl_fc_protocol,json()]\",\"%[ssl_fc_cipher,json()]\",\"%[ssl_fc_unique_id,hex()]\",\"%[ssl_fc_session_id,hex()]\",\"%[ssl_fc_is_resumed,json()]\",\"%[ssl_fc_alpn,json()]\",\"%[ssl_fc_npn,json()]\",\"%[ssl_fc_sni,json()]\"],  \"ssl_b\":[\"%[ssl_bc,json()]\",\"%[ssl_bc_err,json()]\",\"%[ssl_bc_protocol,json()]\",\"%[ssl_bc_cipher,json()]\",\"%[ssl_bc_unique_id,hex()]\",\"%[ssl_bc_session_id,hex()]\",\"%[ssl_bc_is_resumed,json()]\",\"%[ssl_bc_alpn,json()]\",\"%[ssl_bc_npn,json()]\"],  \"ssl_xf\":[\"%[ssl_fc,json()]\",\"%[ssl_f_version,json()]\",\"%[ssl_f_key_alg,json()]\",\"%[ssl_f_sig_alg,json()]\",\"%[ssl_f_sha1,hex]\",\"%[ssl_f_s_dn,json()]\",\"%[ssl_f_i_dn,json()]\"],  \"ssl_xc\":[\"%[ssl_c_used,json()]\",\"%[ssl_c_version,json()]\",\"%[ssl_c_key_alg,json()]\",\"%[ssl_c_sig_alg,json()]\",\"%[ssl_c_sha1,hex]\",\"%[ssl_c_s_dn,json()]\",\"%[ssl_c_i_dn,json()]\",\"%[ssl_c_verify,json()]\",\"%[ssl_c_err,json()]\",\"%[ssl_c_ca_err,json()]\",\"%[ssl_c_ca_err_depth,json()]\"],  \"stick\":[\"%[sc0_conn_cur()]\",\"%[sc0_conn_cnt()]\",\"%[sc0_conn_rate()]\",\"%[sc0_sess_cnt()]\",\"%[sc0_sess_rate()]\",\"%[sc0_http_req_cnt()]\",\"%[sc0_http_req_rate()]\",\"%[sc0_http_err_cnt()]\",\"%[sc0_http_err_rate()]\",\"%[sc0_kbytes_in()]\",\"%[sc0_bytes_in_rate()]\",\"%[sc0_kbytes_out()]\",\"%[sc0_bytes_out_rate()]\"]  }"








backend 'http-backend'

    #---- Protocol
    mode http
    enabled

    #---- Connections
    http-reuse never
    option http-server-close
    option forwardfor header X-Forwarded-For if-none

    #---- Check
    option httpchk
    http-check connect default linger
    http-check send meth 'GET' uri '/__/heartbeat' ver 'HTTP/1.1'
    http-check expect status '200'

    #---- Servers
    default-server init-addr none

    #---- Servers
    server 'default' 'ipv4@127.0.0.1:8080' check observe layer7

