
frontend 'http'

    #---- Protocol
    mode http
    enabled

    #---- Bind
    bind 'ipv4@0.0.0.0:80'

    #---- ACL
    acl acl-fb06d759aed188a0c6c788857765ea75 req.fhdr(Host,-1) -m str -i eq -- 'app.example.com'
    acl acl-7b18cec2b0f03f33ff938f342712002c req.fhdr(Host,-1) -m str -i eq -- 'blog.example.com'
    acl acl-5b39061a7de1be8fa444421ed06403f0 req.fhdr(Host,-1) -m str -i eq -- 'example.com'
    acl acl-d2f96264b434716acbfd6b501b080968 req.fhdr(Host,-1) -m str -i eq -- 'www.example.com'
    acl acl-dbaf316a86669df8911f5b91102e8aa0 ssl_fc() -m bool
    acl acl-402db81baae469d338b6468436716b6b ssl_fc(),not -m bool

    #---- HTTP Request Rules
    http-request redirect prefix "http://www.example.com" code 307 if acl-5b39061a7de1be8fa444421ed06403f0 acl-402db81baae469d338b6468436716b6b
    http-request redirect prefix "https://www.example.com" code 307 if acl-5b39061a7de1be8fa444421ed06403f0 acl-dbaf316a86669df8911f5b91102e8aa0

    #---- Routes
    use_backend http-flask if acl-d2f96264b434716acbfd6b501b080968 TRUE
    use_backend http-static if acl-7b18cec2b0f03f33ff938f342712002c TRUE
    use_backend http-media if acl-fb06d759aed188a0c6c788857765ea75 TRUE
    use_backend http-fallback


backend 'http-flask'

    #---- Protocol
    mode http
    enabled

    #---- Servers
    server 'default' 'ipv4@127.0.0.1:9090'


backend 'http-static'

    #---- Protocol
    mode http
    enabled

    #---- Servers
    server 'default' 'ipv4@127.0.0.1:9091'


backend 'http-media'

    #---- Protocol
    mode http
    enabled

    #---- Servers
    server 'default' 'ipv4@127.0.0.1:9092'


backend 'http-fallback'

    #---- Protocol
    mode http
    enabled

    #---- HTTP Request Rules
    http-request deny deny_status 403 if TRUE

