
frontend 'http'

    #---- Protocol
    mode http
    enabled

    #---- Bind
    bind 'ipv4@0.0.0.0:80'

    #---- ACL
    acl acl-527cb7c8285b307dab881f0a3ecb0f37 req.fhdr(Host,-1),host_only,ltrim(.),rtrim(.) -m str -i eq -- 'site-with-www.example.com'
    acl acl-abb2e36a1e0162ab7e32ad232180dbba req.fhdr(Host,-1),host_only,ltrim(.),rtrim(.) -m str -i eq -- 'www.site-without-www.example.com'
    acl acl-dbaf316a86669df8911f5b91102e8aa0 ssl_fc() -m bool
    acl acl-402db81baae469d338b6468436716b6b ssl_fc(),not -m bool

    #---- HTTP Request Rules
    http-request redirect prefix "http://www.site-with-www.example.com" code 307 if acl-527cb7c8285b307dab881f0a3ecb0f37 acl-402db81baae469d338b6468436716b6b
    http-request redirect prefix "https://www.site-with-www.example.com" code 307 if acl-527cb7c8285b307dab881f0a3ecb0f37 acl-dbaf316a86669df8911f5b91102e8aa0
    http-request redirect prefix "http://site-without-www.example.com" code 307 if acl-abb2e36a1e0162ab7e32ad232180dbba acl-402db81baae469d338b6468436716b6b
    http-request redirect prefix "https://site-without-www.example.com" code 307 if acl-abb2e36a1e0162ab7e32ad232180dbba acl-dbaf316a86669df8911f5b91102e8aa0

    #---- Routes
    use_backend http-backend


backend 'http-backend'

    #---- Protocol
    mode http
    enabled

    #---- Servers
    server 'default' 'ipv4@127.0.0.1:8080'

