
defaults

    #---- Protocol
    mode tcp
    disabled

    #---- Connections
    maxconn 4096
    backlog 1024
    rate-limit sessions 16384
    balance roundrobin
    retries 4

    #---- Connections TCP-Keep-Alive
    option clitcpka
    option srvtcpka

    #---- Connections splicing
    option splice-request
    option splice-response
    no option splice-auto

    #---- Timeouts
    timeout server 60s
    timeout server-fin 6s
    timeout client 30s
    timeout client-fin 6s
    timeout tunnel 180s
    timeout connect 6s
    timeout queue 30s
    timeout check 6s
    timeout tarpit 30s

    #---- Servers
    fullconn 16
    default-server minconn 8
    default-server maxconn 32
    default-server maxqueue 128
    default-server inter 60s
    default-server fastinter 2s
    default-server downinter 20s
    default-server rise 8
    default-server fall 4
    default-server on-error fastinter
    default-server error-limit 4

    #---- HTTP
    http-reuse safe
    http-check disable-on-404
    http-check send-state
    option http-keep-alive
    timeout http-request 30s
    timeout http-keep-alive 60s
    unique-id-format "%[req.hdr(X-HA-Request-Id)]"

    #---- HTTP compression
    compression algo gzip
    compression type 'text/html' 'text/css' 'application/javascript' 'text/javascript' 'application/xml' 'text/xml' 'application/xhtml+xml' 'application/rss+xml' 'application/atom+xml' 'application/json' 'text/json' 'text/plain' 'text/csv' 'text/tab-separated-values' 'image/svg+xml' 'image/vnd.microsoft.icon' 'image/x-icon' 'font/collection' 'font/otf' 'application/font-otf' 'application/x-font-otf' 'application/x-font-opentype' 'font/ttf' 'application/font-ttf' 'application/x-font-ttf' 'application/x-font-truetype' 'font/sfnt' 'application/font-sfnt' 'application/x-font-sfnt' 'font/woff' 'application/font-woff' 'application/x-font-woff' 'font/woff2' 'application/font-woff2' 'application/x-font-woff2' 'font/eot' 'application/font-eot' 'application/x-font-eot' 'application/vnd.ms-fontobject'

    #---- Logging
    log global
    option log-separate-errors
    option log-health-checks
    no option checkcache
    no option dontlognull

    #---- Stats
    option contstats
    option socket-stats

    #---- Error pages
    errorfile 200 '/etc/haproxy/errors/http/monitor.http'
    errorfile 400 '/etc/haproxy/errors/http/400.http'
    errorfile 401 '/etc/haproxy/errors/http/401.http'
    errorfile 403 '/etc/haproxy/errors/http/403.http'
    errorfile 404 '/etc/haproxy/errors/http/404.http'
    errorfile 405 '/etc/haproxy/errors/http/405.http'
    errorfile 408 '/etc/haproxy/errors/http/408.http'
    errorfile 410 '/etc/haproxy/errors/http/410.http'
    errorfile 429 '/etc/haproxy/errors/http/429.http'
    errorfile 500 '/etc/haproxy/errors/http/500.http'
    errorfile 501 '/etc/haproxy/errors/http/501.http'
    errorfile 502 '/etc/haproxy/errors/http/502.http'
    errorfile 503 '/etc/haproxy/errors/http/503.http'
    errorfile 504 '/etc/haproxy/errors/http/504.http'

    #---- State
    load-server-state-from-file global

